@import "../../connect";

.editMovieModal {
  .modal-dialog {
    z-index: 9999;
    max-width: 800px;
    .modal-content {
      .modal-body {
        .user-form {
          width: calc(100% - 20px);
          max-width: 800px;
          background-color: #fff;
          //   padding: 45px 40px;
          z-index: 300;
        }
        .row {
          .col-md-6 {
            .textb {
              margin-bottom: 12px;
              position: relative;
              input {
                width: 100%;
                height: 50px;
                border: none;
                background-color: #ededed;
                border-radius: 4px;
                color: #333;
                font-size: 18px;
                font-weight: 700;
                padding: 14px 60px 0 10px;
              }
              & input:focus ~ .placeholder,
              & input:valid ~ .placeholder {
                left: 10px;
                top: -16px;
              }
              .placeholder {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 700;
                position: absolute;
                line-height: 50px;
                top: 0;
                left: 20px;
                color: #9d9d9d;
                user-select: none;
                pointer-events: none;
                transition: all 0.2s;
              }
              .show-password {
                position: absolute;
                right: 20px;
                line-height: 70px;
                color: #9d9d9d;
                font-size: 22px;
                cursor: pointer;
              }
              #loaiNguoiDung {
                width: 100%;
                height: 50px;
                color: #9d9d9d;
                background-color: #ededed;
                padding: 0 0 0 15px;
                border: none;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 700;
              }
            }
          }
        }
        .btn {
          display: block;
          width: 150px;
          height: 80px;
          margin: 10px auto;
          background-color: $color-green;
          color: #fff;
          font-size: 40px;
          border: none;
          border-radius: 30px;
          cursor: pointer;
          transition: 0.3s linear;
          &:hover {
            opacity: 0.85;
          }
        }
      }
    }
  }
}
