@import "../../connect";
.checkOut__left {
  .header {
    display: flex;
    justify-content: space-between;
    box-shadow: -5px 5px 11px -2px $color-gray-3;
    @include responsive_mobile {
      position: fixed;
      z-index: 9999;
      background-color: $color-white-0;
    }
    @include responsive_tablet {
      position: fixed;
      z-index: 9999;
      background-color: $color-white-0;
    }
    .memu__list {
      list-style: none;
      padding: spacing(3) spacing(6.5) spacing(1);
      @include responsive_mobile {
        padding: spacing(3) spacing(4) spacing(1);
      }
      @include responsive_tablet {
        padding: spacing(3) spacing(4) spacing(1);
      }
      @include responsive_laptop--mini {
        padding: spacing(3) spacing(4) spacing(1);
      }
      .list__item {
        display: inline;
        margin-right: spacing(5);
        padding-top: spacing(3);
        @include responsive_mobile {
          margin-right: spacing(4);
        }
        @include responsive_tablet {
          margin-right: spacing(4);
        }
        @include responsive_laptop--mini {
          margin-right: spacing(4);
        }
        @include responsive_laptop--medium {
          margin-right: spacing(4);
        }
        &.active {
          color: $color-red-0;
          border-top: 1px solid $color-red-0;
        }
        .step {
          text-transform: uppercase;
          @include Text($fs-1 + 5, $fw-medium);
          @include responsive_mobile {
            @include Text($fs-1 + 3, $fw-medium);
          }
          @include responsive_tablet {
            @include Text($fs-1 + 3, $fw-medium);
          }
          @include responsive_laptop--mini {
            @include Text($fs-1 + 3, $fw-medium);
          }
          @include responsive_laptop--medium {
            @include Text($fs-1 + 3, $fw-medium);
          }
          .step__name {
            @include Text($fs-1 - 1, $fw-medium);
            @include responsive_mobile {
              @include Text($fs-1 - 2, $fw-medium);
            }
            @include responsive_tablet {
              @include Text($fs-1 - 2, $fw-medium);
            }
            @include responsive_laptop--mini {
              @include Text($fs-1 - 2, $fw-medium);
            }
            @include responsive_laptop--medium {
              @include Text($fs-1 - 1, $fw-medium);
            }
          }
        }
      }
    }
    .user__login {
      padding: spacing(3) spacing(3) spacing(1);
      @include responsive_laptop--mini {
        padding: spacing(3) spacing(0.6) spacing(1);
      }
      .user__link {
        text-decoration: none;
        img {
          width: 30px;
          border-radius: 50%;
          margin: spacing(0.3);
        }
        .user__name {
          @include Text($fs-0 - 1, $fw-regular);
          color: $color-gray-2;
          @include responsive_mobile {
            display: none;
          }
          @include responsive_tablet {
            display: none;
          }
        }
      }
    }
  }
  .bookSlot {
    @include responsive_mobile {
      margin-top: spacing(10);
    }
    @include responsive_tablet {
      margin-top: spacing(10);
    }
    position: relative;
    .poster__film {
      @include responsive_mobile {
        display: none;
      }
      @include responsive_tablet {
        display: none;
      }
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      width: 31%;
      min-height: 495px;
      left: -25%;
      top: -4px;
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000;
        opacity: 0.7;
      }
    }
    .bookSlot__content {
      padding: spacing(3) spacing(10) spacing(0) spacing(12);
      @include responsive_mobile {
        padding: spacing(2);
      }
      @include responsive_tablet {
        padding: spacing(2);
      }
      @include responsive_laptop--mini {
        padding: spacing(3) spacing(4) spacing(0) spacing(6);
      }
      @include responsive_laptop--medium {
        padding: spacing(3) spacing(4) spacing(0) spacing(6);
      }
      .theater__info {
        margin-bottom: spacing(1);
        .theater__img {
          img {
            width: 45px;
            height: 45px;
          }
          .theater__name {
            margin-left: spacing(2);
            .name {
              color: $color-gray-2;
              .subname {
                color: $color-black-0;
              }
            }
            .showtime {
              margin: 0;
              color: $color-gray-2;
              @include Text($fs-1, $fw-regular);
            }
          }
        }
        .timeKeepSlot {
          text-align: center;
          .title__text {
            color: $color-gray-2;
            @include Text($fs-1 - 2, $fw-regular);
            margin: 0;
          }
          .time {
            color: $color-red-0;
            @include Text($fs-3 + 4, $fw-medium);
            letter-spacing: spacing(0.1);
          }
        }
      }
      .chooseSlot {
        .screen__img {
          img {
            width: 100%;
          }
        }
        .picking {
          text-align: center;
          padding: 0 spacing(5);
          margin-bottom: spacing(3);
          @include responsive_mobile {
            padding: 0 spacing(3);
          }
          @include responsive_tablet {
            padding: 0 spacing(4);
          }
          @include responsive_laptop--mini {
            padding: 0 spacing(2);
          }
          .row__name {
            .row__list {
              list-style: none;
              .list__item {
                margin-bottom: spacing(0.36);
              }
            }
          }
          .slot__picking {
            padding: 0;
            .slot__row {
              // display: grid;
              // grid-template-columns: repeat(16, 1fr);
              text-align: center;
              .slot__item {
                margin-bottom: spacing(1);
                margin-right: spacing(1);
                @include Text($fs-2 + 5, $fw-bold);
                cursor: pointer;
                color: $color-gray-2;
                &.item--picking {
                  color: $color-blue;
                  &.item--vip {
                    color: $color-blue;
                  }
                }
                &.item--picked {
                  opacity: 0.5;
                  cursor: no-drop;
                }
                &.item--vip {
                  color: $color-red-0;
                }
                @include responsive_mobile {
                  @include Text($fs-1, $fw-bold);
                }
                @include responsive_tablet {
                  @include Text($fs-1 + 5, $fw-bold);
                }
                @include responsive_laptop--mini {
                  @include Text($fs-1 + 3, $fw-bold);
                }
                @include responsive_laptop--medium {
                  @include Text($fs-2 + 2, $fw-bold);
                }
              }
            }
          }
        }
        .slot__detail {
          padding-bottom: spacing(2);
          text-align: center;
          @include responsive_mobile {
            @include Text($fs-0, $fw-regular);
          }
          @include responsive_laptop--mini {
            @include Text($fs-0, $fw-regular);
          }
          .fa {
            // margin-right: spacing(0.5);
            &.item--regular {
              color: $color-gray-2;
            }
            &.item--picking {
              color: $color-blue;
            }
            &.item--vip {
              color: $color-red-0;
            }
            &.item--picked {
              opacity: 0.2;
            }
          }
          .slot__text {
            margin-right: spacing(1.5);
          }
        }
      }
    }
  }
}
