@import "../connect";
.hotMovie {
  margin-top: spacing(6.2);
  position: relative;
  .hotMovie__content {
    .myHotMovieCarousel {
      &.owl-carousel {
        display: block;
      }
      .owl-nav {
        @include responsive_mobile {
          display: none;
        }
        .owl-next {
          position: absolute;
          right: 0;
          top: 20%;
          color: $color-gray-2;
          outline: none;
          @include responsive_tablet {
            top: 10%;
          }
          @include responsive_laptop--mini {
            top: 8%;
          }
          @include responsive_laptop--medium {
            top: 10%;
          }
          &:hover {
            background: none;
            color: $color-gray-2;
          }
          span {
            @include Text($fs-6 + 100, $fw-light);
            @include responsive_tablet {
              @include Text($fs-6 + 50, $fw-light);
            }
          }
        }
        .owl-prev {
          position: absolute;
          left: 0;
          top: 20%;
          color: $color-gray-2;
          outline: none;
          @include responsive_tablet {
            top: 10%;
          }
          @include responsive_laptop--mini {
            top: 8%;
          }
          @include responsive_laptop--medium {
            top: 10%;
          }
          &:hover {
            background: none;
            color: $color-gray-2;
          }
          span {
            @include Text($fs-6 + 100, $fw-light);
            @include responsive_tablet {
              @include Text($fs-6 + 50, $fw-light);
            }
          }
        }
      }
      .owl-dots {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-40%);
        @include responsive_mobile {
          bottom: 5%;
        }
        @include responsive_laptop--mini {
          bottom: 15%;
        }
        .owl-dot {
          span {
            width: 15px;
            height: 15px;
            @include responsive_mobile {
              width: 10px;
              height: 10px;
            }
            @include responsive_tablet {
              width: 10px;
              height: 10px;
            }
            @include responsive_laptop--mini {
              width: 12px;
              height: 12px;
            }
          }
          &.active span {
            background: $color-blue;
          }
        }
      }
      &:hover .item .item__img .background__overlay {
        opacity: 1;
      }
      .item {
        .item__img {
          cursor: pointer;
          img {
            width: 100%;
          }
          .background__overlay {
            z-index: 1000;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-30%, -50%);
            opacity: 0;
            margin: 0 auto;
            width: 80px;
            height: 80px;
            border: 2px solid $color-white-cream;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: $color-black-dark-3;
            transition: all 0.2s;
            @include responsive_mobile {
              width: 50px;
              height: 50px;
              line-height: 50px;
            }
            @include responsive_mobile {
              width: 50px;
              height: 50px;
              line-height: 50px;
            }
            @include responsive_laptop--mini {
              width: 70px;
              height: 70px;
              line-height: 70px;
            }
            .carousel__button {
              cursor: pointer;
              @include Text($fs-2, $fw-bold);
              color: $color-white-cream;
              @include responsive_mobile {
                @include Text($fs-2 - 2, $fw-bold);
              }
              @include responsive_tablet {
                @include Text($fs-2 - 2, $fw-bold);
              }
            }
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}
