//Khai báo các giá trị mặc định của web

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: 'Roboto Condensed', ;
  font-family: "Roboto";
}
body {
  background-color: rgb(33, 33, 33);
}
html {
  scroll-behavior: smooth;
}
